/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

/* html,
body,
body > div:first-child,
div#__next,
div#__next > div,
div#__next > div > div {
  height: 100%;
} */

html,
body {
  padding: 0;
  margin: 0;
  font-family: Scandia, sans-serif;
  background: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1640px;
  }

  .xlarge {
    margin-bottom: 200px;
  }
}

.content-img {
  height: 50vh;
}

@media (min-width: 731px) {
  .content-img {
    height: 100vh;
  }
}

@media (min-width: 1024px) {
  .content-img {
    min-height: 100%;
  }
}

@media (min-width: 1440px) {
  .content-img {
    min-height: 100%;
  }
}

.tooltip {
  display: inline;
  position: relative;
}

img {
  display: none;
}

img[src] {
  display: block;
}

[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  --tw-ring-color: transparent;
}
